{% extends "frame.twig" %}

{% block title %}Moritz Huber{% endblock %}

{% block content %}
    <h2>Hallo Welt</h2>
    <p>
        Ich bin Moritz Huber, Elektrotechnikstudent an der Hochschule München und Werkstudent bei <a
                href="https://adabay.rocks" target="_blank" rel="nofollow noreferrer" referrerpolicy="no-referrer">adabay</a>.
    </p>
    <p>
        Wenn du dich für meine Projekte interessierst, schau gerne bei meinem
        <a href="https://github.com/Huber1" target="_blank" rel="noreferrer">Github</a> oder meiner
        <a href="https://git.huber.cloud/Moritz" target="_blank" rel="noreferrer">Forgejo (Gitea) Instanz</a> vorbei
    </p>
{% endblock %}