{% extends "frame.twig" %}

{% block title %}Aktuelles{% endblock %}

{% block content %}
    <h2>Aktuelles</h2>
    <div class="mt-4">
        {% for item in news %}
            <article
                    class="p-2 text-lg mt-2 rounded-xl bg-emerald-50 dark:bg-slate-800 border-2 border-emerald-100 dark:border dark:border-slate-700">
                <div class="text-base text-emerald-600">{{ item.date }}</div>
                {{ item.content|raw }}
            </article>
        {% else %}
            Keine Einträge, schau wann anders nochmal vorbei
        {% endfor %}
    </div>
    {% if news and showMore %}
        <div class="mt-4 flex justify-center">
            <a href="?count=10">Mehr laden</a>
        </div>
    {% endif %}
{% endblock %}